ul{
    display: flex;
    flex-wrap: wrap-reverse;
    list-style-type: none;
    max-width: 100%;
    min-height: fit-content;
}
li{
    margin-right: 20px;
}

button{
    border-radius: 8px;
    max-width: min-content;
}

nav{
    display: relative;
    align-items: center;
    position: sticky;
}